---
layout: default
title: John Susi on GitHub
---

<div id="home">
  <h2>News</h2>
  <ul class="posts">
    {% for post in site.posts %}
	{% if post.categories contains 'news' %}
      <li style="text-align: right"><a href="{{ post.url }}">{{ post.title }}</a> &laquo; <span>{{ post.date | date_to_string }}</span></li>
	{% endif %}
	{% endfor %}
  </ul>

  <h2>Technical notes</h2>
  <ul class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'technote' %}
      <li style="text-align: right"><a href="{{ post.url }}">{{ post.title }}</a> &laquo; <span>{{ post.date | date_to_string }}</span></li>
	{% endif %}
    {% endfor %}
  </ul>

</div>
